{% extends 'base.html' %}
{% block title %}Landing Screen{% endblock title %}
{% block content %}
<div class="container">
   <h3 class="text-center">Welcome to A-one Shopping</h3>
   <hr>
     <div class="row mt-4">
        {% for product in all_product_item %}
           <div class="col-md-4 card" style="border:1x solid rgb(221,220,220)">
              <div class="m-3">
                <h5><a href="{% url 'productdetail' product.slug %}">{{product.title}}</a></h5>
                <img src="{{product.image.url}}" class="img-fluid" style="height:200px;object-fit:contain">
                <p class="mt-3">Price: <strike>Rs.{{product.marked_price}}</strike> Rs.{{product.selling_price}}</p>
                {% comment %} <a href="{% url 'addtocart' p.id %}" class="btn btn-primary" >Add to cart</a> {% endcomment %}
               </div>
            </div>
        {% endfor %} 
    </div>
</div>

{% endblock content %}
